:root {
    --clr-primary: #fff;
    --clr-secondary: #404759;
    --clr-main-gray: #f2f2f2;
    --clr-text-primary: #000;
    --clr-text-secondary: #fff;

    --ff-heading: 'Lenora Premium';
    --ff-primary: 'Proxima Nova';
}